Repository huajitech/mirai-http-dotnet-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, pack, publish, pages

.gitlab-ci.yml:

image: mcr.microsoft.com/dotnet/core/sdk:3.1

variables:
  # Set $NUGET_SERVER_URL and $NUGET_API_KEY in project settings
  NUGET_PACKAGES_DIRECTORY: .nuget
  CONFIGURATION: Release

stages:
  - build
  - pack
  - deploy

cache:
  key:
    files:
      - src/*.csproj
  paths:
    - $NUGET_PACKAGES_DIRECTORY

before_script:
  - dotnet restore src/ --packages $NUGET_PACKAGES_DIRECTORY

build:
  stage: build
  only:
    changes:
      - src/**/*
  script: 
    - dotnet build src/ -c $CONFIGURATION -p:GenerateDocumentationFile=true --no-restore
  artifacts:
    paths:
      - src/bin/

pack:
  stage: pack
  only:
    changes:
      - src/**/*
  needs:
    - job: build
      artifacts: true
  script:
    - dotnet pack src/ -o packages/ -c $CONFIGURATION --version-suffix ci.$CI_PIPELINE_ID+git.$CI_COMMIT_SHA -p:GenerateDocumentationFile=true --no-build
  artifacts:
    paths:
      - packages/

publish:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
    variables:
      - $NUGET_SERVER_URL
      - $NUGET_API_KEY
  needs:
    - job: pack
      artifacts: true
  script:
    - dotnet nuget push packages/*.nupkg -s $NUGET_SERVER_URL -k $NUGET_API_KEY

pages:
  # DocFX with Mono, .NET Core 3.1 SDK
  image: tizendotnet/tizenfx-build-worker:2.0
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - docs/**/*
  cache:
    paths:
      - docs/api/
      - docs/obj/
  before_script:
    - ''
  script:
    - docfx docs/docfx.json
  artifacts:
    paths:
      - public/

整理异步方法名称
  src/ApiHandlers/ApiMethods/ManagingMethods.cs
  src/Chats/CurrentUser.cs
  src/Chats/Group.cs
  src/Chats/Member.cs
  src/Extensions/EventExtensions.cs
  src/Extensions/MessagingExtensions.cs
  src/HuajiTech.Mirai.csproj
Due: build, pack, publish, pages

修改 README.md 及文档中的项目名称描述
  README.md
  docs/api/index.md
  docs/docfx.json
  docs/guides/intro.md
  docs/index.md
Due: pages

更新 README.md
  README.md
Due: none

修复 MessageRecalled 事件不响应 Bug
  src/Events/EventSources/FriendMessageRecalledEventSource.cs
  src/Events/EventSources/GroupMessageRecalledEventSource.cs
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

EventSource(Of T).ToEventArgs(string, Session) 方法改名为 ToEventArgsAsync
  src/Events/EventSources/BotLoginedEventSource.cs
  src/Events/EventSources/BotReloginedEventSource.cs
  src/Events/EventSources/FriendMessageRecalledEventSource.cs
  src/Events/EventSources/FriendMessageReceivedEventSource.cs
  src/Events/EventSources/GroupMessageRecalledEventSource.cs
  src/Events/EventSources/GroupMessageReceivedEventSource.cs
  src/Events/EventSources/MemberMessageReceivedEventSource.cs
  src/Events/EventSource{T}.cs
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

补充实现 BotGroupPermissionChangeEvent
  src/Events/EventSources/CurrentUserGroupRoleChangedEventSource.cs
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

统一 ApiMethods 中拼接字符串方法，补充文档
  src/ApiHandlers/ApiMethods/ApiMethods.cs
  src/ApiHandlers/ApiMethods/AuthMethods.cs
  src/ApiHandlers/ApiMethods/ConfigMethods.cs
  src/ApiHandlers/ApiMethods/ManagingMethods.cs
  src/ApiHandlers/ApiMethods/MessageMethods.cs
  src/Events/EventSources/BotLoginedEventSource.cs
  src/Events/EventSources/BotReloginedEventSource.cs
  src/Events/EventSources/CurrentUserGroupRoleChangedEventSource.cs
  src/Events/EventSources/FriendMessageRecalledEventSource.cs
  src/Events/EventSources/FriendMessageReceivedEventSource.cs
  src/Events/EventSources/GroupMessageRecalledEventSource.cs
  src/Events/EventSources/GroupMessageReceivedEventSource.cs
  src/Events/EventSources/MemberMessageReceivedEventSource.cs
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

更新 mirai-api-http 项目地址
  README.md
Due: none

修复 ComplexMessage 的 "+" 运算符的问题
  src/ComplexMessage.cs
Due: build, pack, publish, pages

修改版本号为 0.13.1
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

从 ProGet 迁移至 GitLab Package Registry
  .gitlab-ci.yml
  README.md
Due: none

修复 README.md 链接错误
  README.md
Due: none

修改 README.md 部分说明
  README.md
Due: none

添加 null 检查，优化部分代码，添加 InvalidMessageTypeException 类
  src/Chat.cs
  src/Chats/CurrentUser.cs
  src/ComplexMessage.cs
  src/Exceptions/InvalidMessageTypeException.cs
  src/Exceptions/MessageFormatException.cs
  src/Extensions/CurrentUserExtensions.cs
  src/Extensions/EventExtensions.cs
  src/Extensions/MessagingExtensions.cs
  src/HuajiTech.Mirai.Http.csproj
  src/Message.cs
  src/Parsing/MessageParser.cs
  src/Parsing/MessageParsers/FriendMessageParser.cs
  src/Parsing/MessageParsers/GroupMessageParser.cs
  src/Parsing/MessageParsers/MemberMessageParser.cs
  src/Resources.Designer.cs
  src/Resources.resx
  src/Session.cs
  src/SessionProcessor.cs
  src/SessionSettings.cs
  src/Utilities/ApiHttpUtilities.cs
Due: build, pack, publish, pages

代码清理
  src/Parsing/MessageParsers/FriendMessageParser.cs
  src/Parsing/MessageParsers/MemberMessageParser.cs
Due: build, pack, publish, pages

统一字符串拼接方式
  src/ApiHandlers/ApiEventHandler.cs
Due: build, pack, publish, pages

补充 null 检查
  src/Extensions/ChatExtensions.cs
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

替换 LICENSE 为 AGPL-3.0
  LICENSE
Due: none

修复 Source 元素无序性所导致的 Bug
  src/HuajiTech.Mirai.Http.csproj
  src/Message.cs
Due: build, pack, publish, pages

修复上一次推送的 Bug
  src/Message.cs
Due: build, pack, publish, pages

优化 Message 构造函数逻辑，支持 Quote 元素无序性
  src/Chat.cs
  src/Message.cs
Due: build, pack, publish, pages

修改版本号
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

修复 Quote 元素发送时解析问题，补充参数 null 检查
  src/Chat.cs
  src/Extensions/EventExtensions.cs
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

修改项目版权声明
  src/HuajiTech.Mirai.Http.csproj
Due: build, pack, publish, pages

修复 Mention 对象为 User 并非 Member 的问题，修复 Quote 跨群转发的问题
  src/Chats/Member.cs
  src/Chats/User.cs
  src/Events/EventSources/GroupMessageReceivedEventSource.cs
  src/Extensions/EventExtensions.cs
  src/Extensions/MessagingExtensions.cs
  src/HuajiTech.Mirai.Http.csproj
  src/Messaging/Mention.cs
  src/Parsing/MessageParser.cs
  src/Parsing/MessageParsers/GroupMessageParser.cs
Due: build, pack, publish, pages

修改一下格式
  src/Chats/User.cs
Due: build, pack, publish, pages

项目归档
  README.md
Due: none
